body{
    background: hsl(208.8deg 47.17% 89.61%);
    margin: 0;
    padding: 100px 0 0 0;
}
.navbar {
    background: rgb(51 122 183);
}
.nav-item .nav-link , .nav-brand{
    color: white;
}
.border-radius-20{
    border-radius: 20px;
}
.shadow-heavy{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.left-content{
    background: hsl(207.73deg 56.41% 45.88%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-inline: 10px;
}
.login-title{
    color : hsl(207.73deg 56.41% 45.88%);
}
.flex-grow-1{
    flex-grow: 2 !important;
}
.flex-grow-3{
    flex-grow: 3;
}
.flex-grow{
    flex-grow: 1;
}
.login-btn{
    color : hsl(207.73deg 56.41% 45.88%);
    background: white;
    border: 1px solid hsl(207.73deg 56.41% 45.88%);
}
.g-img{
    margin-bottom: -4px;
}
input:focus{
    outline: none;
}
.green{
    color : green;
}
.red{
    color : red;
}
.w-15{
    width: 15%;
}
.create-btn{
    background: hsl(207.73deg 56.41% 45.88%);
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid hsl(207.73deg 56.41% 45.88%);
}
.user-fullName{
    color: hsl(207.73deg 56.41% 45.88%);
    font-weight: 500;
    font-size: 20px;
}
.userProfile{
    height: 100%;
}
.title{
    color: hsl(207.73deg 56.41% 45.88%);
    font-weight: 500;
    font-size: 16px;
}
.profileImgDiv{
    width: 60px;
}
.nameDiv{
    width: 80px;
}
.emailDiv{
    width: 200px;
}
.numberDiv{
    width: 125px;
}
.bg-lightblue{
    background: hsl(198.62deg 64.44% 91.18%);
}
.heading{
    color: hsl(207.73deg 56.41% 45.88%);
    font-weight: 700;
    font-size: 22px;
    background: hsl(198.62deg 64.44% 91.18%);
}
.line-height-2{
    line-height: 2;
}
input{
    line-height: 1;
}
select,input{
    border: none;
    border-top: 1px solid hsl(0deg 0% 93.33%);
    border-bottom: 1px solid hsl(0deg 0% 80%);
    padding: 5px 0;
}
.max-width-475{
    max-width: 475px;
}
.modal{
    top: 40px !important;
}
.me-25{
    margin-right: 25%;
}
.subTitle{
    font-size: 20px;
    font-weight: 500;
    color: hsl(207.73deg 56.41% 45.88%);
    border-bottom: 2px solid hsl(225deg 40.45% 34.9%);
}
label.label-title {
    font-weight: 500;
    color: hsl(207.73deg 56.41% 45.88%);
}
.no-records {
    font-size: 22px;
    color: grey;
    font-weight: 200;
    position: relative;
    animation: myanimation 4s infinite;
    display: inline-block;
}
.z-n1{
    z-index: -1;
}
@keyframes myanimation {
    0%   { color: red; left: 70px; top: 30px;}
    25%  { color: blue; left: 250px; top: 15px;}
    50%  { color: green; left: 500px; top: 30px;}
    75%  { color: blue; left: 250px; top: 15px;}
    100% { color: red; left: 70px; top: 30px;}
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
        margin: 1.75rem auto;
    }
}